<p id="notice"><%= notice %></p>

<% if logged_in? && !on_team?(@team) %>
  <%= form_for JoinTeamContract.new do |f| %>
    <%= f.hidden_field :team_id, value: @team.id %>
    <%= f.hidden_field :student_id, value: @current_student.id %>
    <%= f.hidden_field :team_accepted, value: false %>
    <%= f.hidden_field :student_accepted, value: true %>
    <%= f.submit %>
  <% end %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Point of Contact:</strong>
  <%= @team.point_of_contact.last_name %>,
  <%= @team.point_of_contact.first_name %>
</p>
<p><strong>Members:</strong></p>
<% @team.students.each do |t| %>
  <p>
    <%= t.last_name %>, <%= t.first_name %>
  </p>
<% end %>

<p><strong>Potential Members</strong></p>
<% @team.join_team_contracts.each do |t| %>
  <p>
    <%= t.student.last_name %>, <%= t.student.first_name %>
  </p>
<% end %>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
