<p id="notice"><%= notice %></p>

<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Browse Teams</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
  <li role="presentation">
	<%= link_to 'Preferences', edit_student_path(@student) %> 
  </li>
</ul>

<div class="well">
	<h2 style="font-size: 24px">Team Information for
		<%= @student.first_name %>
		<%= @student.last_name %>
	</h2><hr />
	
	<p>
		<strong><span class="label label-primary" style="font-size: 16px">Team Name:</span></strong>
		<%= @student.team_id %>
	</p>
	<p>
		<strong><span class="label label-primary" style="font-size: 16px">Team Members:</span></strong>
		<%= @student.team_id %>
	</p>
	<p>
		<strong><span class="label label-primary" style="font-size: 16px">Point of Contact:</span></strong>
		<%= @student.team_id %>
	</p>
</div>

<ul class="nav nav-pills">
	<li role="presentation">
		<%= link_to 'Back', students_path %>
	</li>
</ul>
