<p id="notice"><%= notice %></p>

<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Browse Teams</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
  <li role="presentation">
	<%= link_to 'Preferences', edit_student_path(@student) %> 
  </li>
</ul>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="panel-heading">
			<h3 class="panel-title">
				Team Information for
				<%= @student.first_name %>
				<%= @student.last_name %>
			</h3>
		</div>
	</div>
	
	<div class="panel-body">
		<div class="list-group">
		  <a href="#" class="list-group-item">
			<h4 class="list-group-item-heading">Team Name</h4>
			<p class="list-group-item-text">
				<strong>Team Name Goes Here</strong>
			</p>
		  </a>
		</div>
		
		<div class="list-group">
		  <a href="#" class="list-group-item">
			<h4 class="list-group-item-heading">Team Members</h4>
			<p class="list-group-item-text">
				<ul>
					<li><strong>Name 1</strong></li>
					<li><strong>Name 2</strong></li>
					<li><strong>Name 3</strong></li>
					<li><strong>Name 4</strong></li>
					<li><strong>Name 5</strong></li>
				</ul>
			</p>
		  </a>
		</div>
		
		<div class="list-group">
		  <a href="#" class="list-group-item">
			<h4 class="list-group-item-heading">Point of Contact</h4>
			<p class="list-group-item-text">
				<strong>Name:</strong><br />
				<strong>Email:</strong>
			</p>
		  </a>
		</div>
	</div>
</div>

<ul class="nav nav-pills">
	<li role="presentation">
		<%= link_to 'Back', students_path %>
	</li>
</ul>
