<p id="notice"><%= notice %></p>

<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <!--<li role="presentation"><a href="#">Approve Projects</a></li>-->
  <!--<li role="presentation"><a href="../teams">Class Roster</a></li>-->
  <li role="presentation">
    <%= link_to 'Settings', edit_professor_path(@professor) %>
  </li>
  <li role="presentation">
    <%= link_to 'Back', professors_path %>
  </li>
</ul><br />

<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-heading">
      <h3 class="panel-title">
        Profile for
        <%= @professor.first_name %>
        <%= @professor.last_name %>
      </h3>
    </div>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Class ID</h4>
        <%= @professor.class_id %>
      </a>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-heading">
      <h3 class="panel-title">
        Student Roster
      </h3>
    </div>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <table class="table list-group-item" style="border: 1px solid rgb(221, 221, 221)">
        <thead>
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
          </tr>
        </thead>
        <tbody>
          <% @students.each do |student| %>
            <tr>
              <td><%= student.id %></td>
              <td><%= student.first_name %></td>
              <td><%= student.last_name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="list-group">
      <%= form_tag import_students_path, multipart: true, :class => "list-group-item form-inline" do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import", :class => "btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>
